@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f8f2;
  --foreground: #001D2F;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.page-container p {
  margin-bottom: 1rem;
}

.breadcrumbs {
  margin-block: .5rem;
  font-size: 1rem;
}

.breadcrumbs li {
  margin-inline: 0 !important;
  padding: 0;
}