@use "../base/variables" as vars;
@use "tailwindcss/utilities";

.footer-form {
	background: #fff;
	border-top: 2px vars.$border-light solid;
	/* Medium breakpoint and up */
	@screen lg {
		background: #fff url('/contact_us_footer.svg') no-repeat 20% center;
	}
}

.footer-form form {
	background: #fff;
	padding: 20px;
}

.bottom-footer {
	background: vars.$bg-dark;
	color: white;
	padding-block: 2rem;
}

.bottom-footer a {
	text-decoration: underline;
}