@use "../base/variables" as vars;

.header {
  background: vars.$bg-dark; 
}

.header a {
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 1.1rem;
	letter-spacing: .75px;

	&:hover, &.active, &.parent-active {
		color: vars.$accent-color;
	}
	&.active {
		font-weight: bold;
	}
}

.header a.logo {
	// width: 20%;
} 

.header ul li {
	top: 4px;
}

.header .nav-plus:hover svg path, .header .nav-plus:focus svg path {
	stroke: vars.$bg-dark !important;
}

.header .sub-menu a {
	color: vars.$primary-color;
}

.header .sub-menu a.active {
	text-decoration: underline;
}

#mobileMenu .mobile-menu-container {
	background: vars.$bg-light;
}

#mobileMenu .mobile-menu-container a {
	color: vars.$bg-dark;
}
