.header {
	background: $bg-dark;
}

.header a {
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 1rem;

	&:hover, &.active {
		color: $accent-color;
	}
	&.active {
		font-weight: bold;
	}
}

.header .sub-menu a {
	color: $primary-color;
}
