@use "./variables" as vars;

a {
	color: vars.$primary-color;
}

a:hover {
	text-decoration: underline;
}

a:focus, summary:focus {
	outline: none; // Remove default outline
	box-shadow:
	  0 0 0 2px #ffffff,   // Inner white outline
	  0 0 0 4px #001d2f;   // Outer dark blue outline
  }

// from wordpress for formatting
.has-text-align-center {
	text-align: center;
}

summary {
	cursor: pointer;
	line-height: 1.75;
	margin-block: .25rem;
	padding: 0 .25rem;
	font-weight: 600;
}

details {
	padding: .25rem;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 10px;
	background: vars.$primary-color;
	color: white;
	padding: 8px 12px;
	z-index: 100;
	border-radius: 4px;
	transition: top 0.3s;
  }
  
  .skip-link:focus {
	top: 10px; /* Moves the link into view when focused */
  }
  

  .loading-overlay {
	position: fixed;
	top: 6.2vh;
	left: 0;
	width: 100vw;
	height: 98vh;
	background: #f9f8f2;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
  }

  @media (max-width: 640px) {
	.loading-overlay {
	  top: 8vh; /* Change this value as needed for mobile */
	}
  }
  
  .loading-overlay .spinner {
	width: 100px;
	height: 100px;
	border: 5px solid #0E816833;
	border-top: 5px solid #0E8168;
	border-radius: 50%;
	animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }