@use "../base/variables" as vars;

input, textarea {
	border: 2px solid vars.$bg-dark;
	color: black;
	padding: 0.5rem;
	border-radius: 0.375rem;
	&:focus, &:active, &:focus-within {
	   border: 2px solid vars.$primary-color;
	   box-shadow:
		 0 0 0 2px #fff,
		 0 0 0 5px vars.$primary-color;
	 }
	 outline:none;
 }

 input:not([type="submit"]).error, textarea.error, input:not([type="submit"])[aria-invalid="true"], textarea[aria-invalid="true"] {
  border-color: vars.$error-color;
 }

input:not([type="submit"]).error:focus,
textarea.error:focus,
input:not([type="submit"])[aria-invalid="true"]:focus,
textarea[aria-invalid="true"]:focus {
  border: 2px solid vars.$error-color;
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 5px vars.$error-color;
  outline: none;
}

button[type="submit"] {
	&:focus, &:active, &:focus-within {
		border: 2px solid vars.$primary-color;
		box-shadow:
		  0 0 0 2px #fff,
		  0 0 0 5px vars.$primary-color;
	  }
	  outline:none;
}