@use "./variables" as vars;

a {
	color: #0F866C;
}

a:hover {
	text-decoration: underline;
}

// from wordpress for formatting
.has-text-align-center {
	text-align: center;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 10px;
	background: vars.$primary-color;
	color: white;
	padding: 8px 12px;
	z-index: 100;
	border-radius: 4px;
	transition: top 0.3s;
  }
  
  .skip-link:focus {
	top: 10px; /* Moves the link into view when focused */
  }
  