h1, h2, h3, h4, p {
	margin-block-start: 1.2rem;
}


h2, h2.wp-block-heading {
	font-size: 1.5rem;
	font-weight: 600;
  }

h2.page-heading {
	font-size: 2rem;
	font-weight: bold;
	margin-block-end: 2rem;
}
  
h3 {
	font-size: 1.25rem;
	font-weight: 600;
}

h4 {
	font-size: 1rem;
	font-weight: 600;
}

.wp-block-list {
	list-style: inherit;
	padding: .5rem 0 0 2rem;
	line-height: 1.75;
}

article {
	ul {
		list-style: inherit;
	}
}



