h1, h2, h3, p{
	margin-block-start: 1.2rem;
}


h2 {
	font-size: 1.5rem;
	font-weight: 600;
  }

h2.page-heading {
	font-size: 2rem;
	font-weight: bold;
	margin-block-end: 2rem;
}
  
h3 {
	font-size: 1.25rem;
	font-weight: 600;
}

article {
	ul {
		list-style: inherit;
	}
	ul li {
		margin-inline-start: 2rem;;
	}
}

