.wp-block-columns {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem; // default column gap
	margin-bottom: 2rem;
  
	&.is-layout-flex {
	  // Optional override if WordPress layout class exists
	  display: flex;
	}
  
	// Responsive stack for small screens
	@media (max-width: 768px) {
	  flex-direction: column;
	}
  }
  
  .wp-block-column {
	flex: 1 1 0;
	min-width: 0;
  
	&.is-layout-flow {
	  display: flex;
	  flex-direction: column;
	}
 
  }

  .aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

  .size-large {
	width: 5rem;
	height: 5rem;
  }

  // SERVICES - AUDIT  
  .audit-features-block {
	h2 {
		margin-block: 4rem 2rem;
	}
	.wp-block-column {
		background: #fff;
		border-radius: 0.5rem;
		padding: 1.5rem;
		border:1px solid rgb(209, 213, 219);
	}
  }