.wp-block-columns {
	display: flex;
	gap: 1.5rem; // default column gap
	margin-bottom: 2rem;
  
	&.is-layout-flex {
	  // Optional override if WordPress layout class exists
	  display: flex;
	}
  
	// Responsive stack for small screens
	@media (max-width: 768px) {
	  flex-direction: column;
	}
  }
  
	.wp-block-column {
		flex: 1 1 0;
		min-width: 0;

		&.is-layout-flow {
		  display: flex;
		  flex-direction: column;
		}

	}

	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.size-large {
		width: 5rem;
		height: 5rem;
	}

	.alignnone {
		float: none;
		margin: 5px 0;
	}

	.alignleft {
	    float: left;
	    margin: 5px 10px 5px 0;
	}

	.aligncenter {
	    display: block;
	    margin: 5px auto;
	}

	.alignright {
	    float: right;
	    margin: 5px 0 5px 10px;
	}

	.wp-block-code {
		border:1px solid #ccc;
		border-radius:4px;
		font-family:Menlo,Consolas,monaco,monospace;
		padding:.8em 1em;
	}

  // SERVICES - AUDIT  
  .audit-features-block {
	h2 {
		margin-block: 4rem 2rem;
	}
	.wp-block-column {
		background: #fff;
		border-radius: 0.5rem;
		padding: 1.5rem;
		border:1px solid rgb(209, 213, 219);
	}
  }